*{
	font-family:sans-serif;
	font-weight: 100;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*First container styles*/
#home{
	background-image: url(../assets/backgrounds/landing.jpg);
	background-size: cover;
	height: 650px; 
		margin-left: -9px;
	margin-right: -9px;
	margin-top: -18px;
}
.log{
	text-align: center;
	padding-top: 80px;
}
.top{
	color: white;
	text-align: center;
	font-size: 40px;
}
.pot{
	padding-top: 12px;
	margin-bottom: -14px;
	cursor: pointer;
}
.burger{
	color: white;
	line-height: 0.5;
}
/*Second container syles*/
#container2{
	margin-left: -8px;
	margin-right: -9px;
}
.first{
	width:25%;
}
.wht{
	background-color: white;
	font-size: 25px;
	text-align:center;
		padding-top: 4px;
	padding-bottom: 4px;
}
.ran{
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ff4500;
	font-size: 25px;
	text-align:center;
	color:white;
}
.second{
	margin-left: 25%;
	margin-top: -175px;
	position: absolute;
width:25%;
background-image: url(../assets/foodtop/breakfast.jpg);
height: 175px;
}
.second p {
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 50px;
}
.third{
	opacity: 0.5;
	margin-left: 50%;
	margin-top: -175px;
	position: absolute;
width:25%;
background-image: url(../assets/foodtop/lunch.jpg);
height: 175px;
}
.third p {
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 50px;
}
.four{
	margin-left: 75%;
	margin-top: -175px;
	position: absolute;
width:25%;
background-image: url(../assets/foodtop/dinner.jpg);
height: 175px;
}
.four p {
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 50px;
}
/*Third container styles*/
#container3{
	background-color: white;
}
.first2{
	width: 34.5%;
	line-height: 0;
	margin-top: 100px;
	margin-left: 14%;
	border:20px solid white;
	box-shadow:1px 1px 1px 2px rgba(0,0,0,0.3);
}
.first3{
	width: 34.5%;
	line-height: 0;
	margin-top: 100px;
	margin-left: 53%;
	border:20px solid white;
	box-shadow:1px 1px 1px 2px rgba(0,0,0,0.3);
}
.pic2{
	margin-top: -390px;
	margin-left: 49%;
}
.second2{
	width: 32%;
	position: absolute;
	margin-left: 56%;
	margin-top: -450px;
}
.second3{
	width: 32%;
	position: absolute;
	margin-left: 15%;
	text-align:right;
}
.big{
	font-size: 40px;
	font-weight: 800;
	color: rgba(0,0,0,0.7);
}
.mdim{
	color: rgba(0,0,0,0.7);
	font-size: 20px;
	margin-top: -12px;
}
.lnk{
	border: 1px solid #ff4500;
	color: #ff4500;
	padding: 12px;
	text-transform: uppercase;
}
.lnk:hover{
	background-color: #ff4500;
	color: white;
	opacity: 0.7;
}
/*Fourth container styles*/
#tabs{
	background-image: url(../assets/backgrounds/foodsBg.jpg);
	background-size: cover;
	height: 600px;
	opacity: 0.9;
	margin-top: 50px;
		margin-left: -9px;
	margin-right: -9px;
}






