*{
	font-family:sans-serif;
	font-weight: 100;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*First container styles*/
#home{
	background-image: url(../assets/backgrounds/landing.jpg);
	background-size: cover;
	height: 650px; 
		margin-left: -9px;
	margin-right: -9px;
	margin-top: -18px;
}
.log{
	text-align: center;
	padding-top: 80px;
}
.top{
	color: white;
	text-align: center;
	font-size: 40px;
}
.pot{
	padding-top: 12px;
	margin-bottom: -14px;
	cursor: pointer;
}
.burger{
	color: white;
	line-height: 0.5;
}
/*Second container syles*/
#container2{
	margin-left: -9px;
	margin-right: -9px;
}
.first{
	width:25%;
}
.wht{
	background-color: white;
	font-size: 25px;
	text-align:center;
		padding-top: 4px;
	padding-bottom: 4px;
}
.ran{
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ff4500;
	font-size: 25px;
	text-align:center;
	color:white;
}
.second{
	margin-left: 25%;
	margin-top: -175px;
	position: absolute;
width:25%;
background-image: url(../assets/foodtop/breakfast.jpg);
height: 175px;
}
.second p {
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 50px;
}
.third{
	opacity: 0.5;
	margin-left: 50%;
	margin-top: -175px;
	position: absolute;
width:25%;
background-image: url(../assets/foodtop/lunch.jpg);
height: 175px;
}
.third p {
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 50px;
}









